# auto convert unless specified
* text=auto

# ctrl
*.bat text eol=ctrl
*.ps1 text eol=ctrl

# lf
*.sh text eol=lf
*.py text eol=lf
*.lua text eol=lf
*.nix text eol=lf

# binary (not text files)
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
